body {
  overflow: scroll; }

/* MAIN BLOCK */
.main {
  background-image: url(../foto_header/head3.jpg);
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  backface-visibility: hidden;
  animation: slideBg 120s linear infinite 0s;
  animation-timing-function: ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  animation-delay: 1s; }

.container {
  margin: 0 30px 0 30px; }

#content {
  z-index: 1; }

#open-left {
  background-image: url(../icon/menu.png);
  background-repeat: no-repeat;
  width: 35px;
  display: inline-block;
  padding-top: 15px; }

.snap-drawers .snap-drawer-left {
  z-index: 0; }

.header {
  padding-top: 20px; }

.burger_menu {
  padding-top: 30px;
  padding-left: 40px; }
  .burger_menu ul {
    list-style: none; }
    .burger_menu ul li {
      padding-bottom: 20px; }
      .burger_menu ul li img {
        width: 16px;
        padding-right: 10px;
        margin-bottom: -2px; }
  .burger_menu a {
    text-decoration: none;
    font-family: verdana;
    font-size: 16px;
    color: #007DC4; }
  .burger_menu .lang {
    padding-top: 30px; }
    .burger_menu .lang a {
      text-decoration: none;
      color: #007DC4;
      margin-right: 10px; }
      .burger_menu .lang a:hover {
        text-decoration: underline; }
  .burger_menu .active_lang {
    text-transform: uppercase;
    text-decoration: underline;
    font-family: verdanaBold; }

/* ANIMATE BG */
/* @keyframes slideBg {
    10% {
        background-image: url(../foto_header/head2.jpg); 
    }
    
    20% {
        background-image: url(../foto_header/head3.jpg); 
        
    }
    
    30% {
        background-image: url(../foto_header/head4.jpg);
        
    }
    
    40% {
        background-image: url(../foto_header/head5.jpg);

    }
    
    50% {
        background-image: url(../foto_header/head6.jpg);
        
    }
    
    60% {
        background-image: url(../foto_header/head8.jpg);
        
    }
    
    70% {
        background-image: url(../foto_header/head9.jpg);
    }
    
    80% {
       background-image: url(../foto_header/head10.jpg);
        
    }
    
   90% {
        background-image: url(../foto_header/head11.jpg);
   }
    
    95% {
        background-image: url(../foto_header/head12.jpg);
    }
    
    100% {
        background-image: url(../foto_header/head13.jpg);  
    }
} */
/* BURGER MENU NAVIGATION */
/* BURGER END */
/* HEADER MENU LINE */
.main_menu_line {
  display: inline-block; }
  .main_menu_line a {
    text-decoration: none;
    color: #007DC4;
    font-size: 18px;
    font-weight: bold;
    margin-right: 30px;
    position: relative;
    border: none;
    font-family: verdanaBold; }
  .main_menu_line .btn {
    border: none; }
  .main_menu_line .btn:after {
    content: "";
    width: 0%;
    height: 1px;
    background: #007DC4;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: all .2s ease-in-out; }
  .main_menu_line a:hover.btn:after {
    width: 100%;
    background: #007DC4; }
  .main_menu_line a:hover.btn:before {
    right: 60%;
    background: #007DC4; }

.app_header {
  display: none; }

.logo_mobile {
  display: none; }

.title_mobile {
  display: none;
  font-family: stylo, MontserratMedium, arial;
  color: #D01A1A; }

.main_menu_service {
  display: inline-block;
  float: right;
  margin-top: -8px; }
  .main_menu_service a {
    color: #757575;
    font-size: 18px;
    text-decoration: none;
    margin-right: 10px;
    font-family: verdana; }
    .main_menu_service a:hover {
      color: red; }
  .main_menu_service input {
    position: relative;
    top: -2px; }
  .main_menu_service .lang {
    display: inline-block; }
  .main_menu_service .active_lang {
    text-decoration: none;
    color: #007DC4;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: verdanaBold; }
    .main_menu_service .active_lang:hover {
      color: red;
      transition: .5s; }
  .main_menu_service .search {
    display: inline-block;
    position: relative; }
  .main_menu_service .search-active input {
    opacity: 1;
    z-index: 1;
    outline: none; }
  .main_menu_service .search-active button {
    display: block; }
  .main_menu_service .search-active .search_img {
    display: none; }
  .main_menu_service .search_img {
    width: 17px;
    height: 16px;
    cursor: pointer;
    margin-right: 30px; }
  .main_menu_service button {
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 30px;
    appearance: none;
    width: 20px;
    position: relative;
    z-index: 2;
    display: none; }
    .main_menu_service button img {
      width: 17px;
      height: 16px; }
  .main_menu_service input {
    width: 160px;
    padding: 5px 45px 5px 10px;
    box-sizing: border-box;
    font-size: 12px;
    border: none;
    line-height: 16px;
    position: absolute;
    left: -135px;
    top: -3px;
    opacity: 0;
    z-index: -1;
    transition-duration: .5s;
    transition-property: opacity; }
  .main_menu_service .enter {
    text-transform: uppercase;
    font-family: verdanaBold;
    margin-right: 0px;
    margin-left: 20px;
    font-weight: bold;
    color: #007DC4; }
    .main_menu_service .enter img {
      width: 30px;
      margin-bottom: -6px; }

#logo path:nth-child(1) {
  fill: #007DC4; }

#logo path:nth-child(2) {
  fill: #FF0000;
  opacity: 1;
  animation: d1 1s linear;
  animation-iteration-count: 1;
  animation-delay: 1.5s; }

#logo path:nth-child(3) {
  fill: #007DC4; }

#logo .dot {
  fill: #FF0000; }

#logo .d {
  animation: dao 8s linear;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  -webkit-animation: dao 8s linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
  -moz-animation: dao 8s linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 2s; }

#logo .a {
  animation: dao 8s linear;
  animation-iteration-count: infinite;
  animation-delay: 2.1s;
  -webkit-animation: dao 8s linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 2.1s;
  -moz-animation: dao 8s linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 2.1s; }

#logo .o {
  animation: dao 8s linear;
  animation-iteration-count: infinite;
  animation-delay: 2.2s;
  -webkit-animation: dao 8s linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 2.2s;
  -moz-animation: dao 8s linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 2.2s; }

#logo .f {
  animation: dao 8s linear;
  animation-iteration-count: infinite;
  animation-delay: 2.3s;
  -webkit-animation: dao 8s linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 2.3s;
  -moz-animation: dao 8s linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 2.3s; }

#logo .l {
  animation: dao 8s linear;
  animation-iteration-count: infinite;
  animation-delay: 2.4s;
  -webkit-animation: dao 8s linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 2.4s;
  -moz-animation: dao 8s linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 2.4s; }

#logo .o1 {
  animation: dao 8s linear;
  animation-iteration-count: infinite;
  animation-delay: 2.5s;
  -webkit-animation: dao 8s linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 2.5s;
  -moz-animation: dao 8s linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 2.5s; }

#logo .w {
  animation: dao 8s linear;
  animation-iteration-count: infinite;
  animation-delay: 2.6s;
  -webkit-animation: dao 8s linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 2.6s;
  -moz-animation: dao 8s linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 2.6s; }

#logo .e {
  animation: dao 8s linear;
  animation-iteration-count: infinite;
  animation-delay: 2.7s;
  -webkit-animation: dao 8s linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 2.7s;
  -moz-animation: dao 8s linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 2.7s; }

#logo .r {
  animation: dao 8s linear;
  animation-iteration-count: infinite;
  animation-delay: 2.8s;
  -webkit-animation: dao 8s linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 2.8s;
  -moz-animation: dao 8s linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 2.8s; }

#logo .s {
  animation: dao 8s linear;
  animation-iteration-count: infinite;
  animation-delay: 2.9s;
  -webkit-animation: dao 8s linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 2.9s;
  -moz-animation: dao 8s linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 2.9s; }

@keyframes dao {
  0% {
    fill: #000; }
  5% {
    fill: #D01A1A; }
  10% {
    fill: #000; }
  100% {
    fill: #000; } }

#logo .u {
  animation: flowers 8s linear;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  -webkit-animation: flowers 8s linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
  -moz-animation: flowers 8s linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 2s; }

#logo .m {
  animation: flowers 8s linear;
  animation-iteration-count: infinite;
  animation-delay: 2.1s;
  -webkit-animation: flowers 8s linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 2.1s;
  -moz-animation: flowers 8s linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 2.1s; }

#logo .n {
  animation: flowers 8s linear;
  animation-iteration-count: infinite;
  animation-delay: 2.2s;
  -webkit-animation: flowers 8s linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 2.2s;
  -moz-animation: flowers 8s linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 2.2s; }

#logo .y {
  animation: flowers 8s linear;
  animation-iteration-count: infinite;
  animation-delay: 2.3s;
  -webkit-animation: flowers 8s linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 2.3s;
  -moz-animation: flowers 8s linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 2.3s; }

#logo .ie {
  animation: flowers 8s linear;
  animation-iteration-count: infinite;
  animation-delay: 2.4s;
  -webkit-animation: flowers 8s linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 2.4s;
  -moz-animation: flowers 8s linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 2.4s; }

#logo .c {
  animation: flowers 8s linear;
  animation-iteration-count: infinite;
  animation-delay: 2.5s;
  -webkit-animation: flowers 8s linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 2.5s;
  -moz-animation: flowers 8s linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 2.5s; }

#logo .v {
  animation: flowers 8s linear;
  animation-iteration-count: infinite;
  animation-delay: 2.6s;
  -webkit-animation: flowers 8s linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 2.6s;
  -moz-animation: flowers 8s linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 2.6s; }

#logo .et {
  animation: flowers 8s linear;
  animation-iteration-count: infinite;
  animation-delay: 2.7s;
  -webkit-animation: flowers 8s linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 2.7s;
  -moz-animation: flowers 8s linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 2.7s; }

#logo .t {
  animation: flowers 8s linear;
  animation-iteration-count: infinite;
  animation-delay: 2.8s;
  -webkit-animation: flowers 8s linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 2.8s;
  -moz-animation: flowers 8s linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 2.8s; }

#logo .ty {
  animation: flowers 8.3s linear;
  animation-iteration-count: infinite;
  animation-delay: 2.9s;
  -webkit-animation: flowers 8s linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 2.9s;
  -moz-animation: flowers 8s linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 2.9s; }

@keyframes flowers {
  0% {
    fill: #007DC4; }
  3% {
    fill: #D01A1A; }
  8% {
    fill: #007DC4; }
  100% {
    fill: #007DC4; } }

/* END HEADER MENU LINE */
/* CENTRAL BLOCK TITLE */
/* LEFT BLOCK */
.title {
  margin: 50px 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: absolute;
  left: 1.5%;
  right: 1.5%;
  top: 6%;
  /* LOGO RIGHT BLOCK */
  /* END LOGO RIGHT BLOCK */ }
  .title_logo svg {
    width: 350pt;
    height: 180pt; }
  .title h1 {
    font-size: 40.5px;
    font-family: stylo, MontserratMedium, arial;
    color: #D01A1A;
    padding-bottom: 30px; }
  .title_dao {
    max-width: 925px; }
    .title_dao p {
      font-size: 18px;
      padding-bottom: 60px;
      font-family: verdana; }
      .title_dao p span {
        font-family: MontserratBold;
        font-size: 20px; }
    .title_dao .title_btn {
      padding: 20px 70px;
      background: #007DC4;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      text-transform: uppercase;
      cursor: pointer;
      font-family: verdana;
      transition: .5s; }
      .title_dao .title_btn:hover {
        margin-left: 20px; }

/* END CENTRAL BLOCK TITLE */
/* MAIN BLOCK CONTACT + NEWS + APP */
.main_info {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  position: absolute;
  left: 1.5%;
  right: 1.5%;
  bottom: 7%;
  /* CONTACT BLOCK */
  /* END CONTACT BLOCK */
  /* NEWS BLOCK */
  /* END NEWS BLOCK */
  /* APP BLOCK */
  /* END APP BLOCK */ }
  .main_info .contact {
    width: 440px;
    margin-right: 30px;
    margin-left: 60px; }
    .main_info .contact h2 {
      font-family: stylo, MontserratMedium, arial;
      color: #007DC4;
      padding-bottom: 15px;
      font-size: 25px; }
    .main_info .contact a {
      text-decoration: none;
      color: #000;
      font-family: verdana;
      margin-left: 5px; }
      .main_info .contact a:hover {
        color: #007DC4; }
    .main_info .contact p {
      margin-bottom: 10px; }
    .main_info .contact_skype img {
      margin-bottom: -2px; }
    .main_info .contact_viber img {
      margin-bottom: -2px; }
    .main_info .contact_telegram img {
      margin-bottom: -2px; }
  .main_info .contact_call {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap; }
  .main_info .news {
    flex: 5; }
    .main_info .news h2 {
      font-family: stylo , MontserratMedium, arial;
      color: #007DC4;
      padding-bottom: 15px;
      font-size: 25px; }
    .main_info .news p {
      margin-bottom: 10px;
      margin-left: 15px; }
    .main_info .news span {
      padding-right: 10px;
      font-size: 12px; }
    .main_info .news a {
      text-decoration: none;
      font-family: verdana;
      color: #000; }
      .main_info .news a:hover {
        color: #007DC4; }
  .main_info .app {
    flex: 0; }
    .main_info .app img {
      display: block;
      align-items: flex-end;
      margin-bottom: 20px;
      max-width: 84px;
      margin-right: 60px; }

/* END MAIN BLOCK CONTACT + NEWS + APP */
/* POLICY BLOCK ONLY MOBILE */
.policy_only_mobile {
  display: none; }

/* FOOTER (copy/clock/policy)*/
footer {
  padding: 10px 0;
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0; }

.footer_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* COPY BLOCK */
  /* END COPY BLOCK */
  /* CLOCK BLOCK */
  /* END BLOCK COPY */
  /* POLISY BLOCK */
  /* END BLOCK POLICY */ }
  .footer_flex .copy {
    flex: 1; }
    .footer_flex .copy p {
      font-size: 10px;
      color: #535353; }
  .footer_flex .clock {
    flex: 1;
    text-align: center; }
    .footer_flex .clock .city {
      font-family: verdanaBold; }
    .footer_flex .clock_item {
      display: inline-block;
      margin-right: 20px; }
  .footer_flex .policy {
    flex: 1;
    text-align: right; }
    .footer_flex .policy a {
      text-decoration: none;
      font-size: 12px;
      color: #007DC4;
      margin-right: 10px; }
      .footer_flex .policy a:hover {
        text-decoration: underline; }

/* END FOOTER (copy/clock/policy) */
/* INFO BLOCK FOR SEO */
.section_info {
  margin-top: 50px; }
  .section_info p {
    margin-bottom: 10px;
    text-align: justify;
    font-family: Montserrat; }
  .section_info span {
    color: #007DC4;
    font-family: verdanaBold; }

/* END INFO BLOCK FOR SEO */

/*# sourceMappingURL=main.css.map */
