@font-face {
    font-family: Montserrat; /* Гарнитура шрифта */
    src: url(../fonts/MontserratRegular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: MontserratBold; /* Гарнитура шрифта */
    src: url(../fonts/MontserratBold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: MontserratMedium; /* Гарнитура шрифта */
    src: url(../fonts/MontserratMedium.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: verdana; /* Гарнитура шрифта */
    src: url(../fonts/verdana.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: verdanaBold; /* Гарнитура шрифта */
    src: url(../fonts/verdanab.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: Stylo;
	src: url(../fonts//Stylo.eot);
	src: local('☺'), url(../fonts/Stylo.woff) format('woff'), url(../fonts//Stylo.ttf) format('truetype'), url('fonts/Stylo.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}






* {
    margin: 0;
    padding: 0;
    font-family: verdana;
    font-size: 14px;
}

.container {
    margin: 0 30px 0 30px;
}


::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height:0px
}

::-webkit-scrollbar-track {
    background-color: #E9E9E9;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #E9E9E9;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #E9E9E9;
}

::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px
}

::-webkit-scrollbar{
    width: 4px;
}