@media only screen and (max-width: 1366px) {
    .main_menu_line {
        margin-left: 50px;
    }
}

@media only screen and (max-width: 1170px) {
    .main_menu_service .lang {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    .main_menu_line {
        display: none;
    }
    
    .logo_mobile {
        display: inline-block;
        width: 100px;
        margin-left: 50px    
    }
    
    .app_header img {
        margin-right: 30px;
        margin-top: 1px;
    }
    
    .main_menu_service a {
        font-size: 16px;
    }
    .main_menu_service {
        margin-top: -3px;
    }
    
    .main_menu_service .lang {
        display: none;
    }
}

@media only screen and (max-width: 850px) {
 
    .footer_flex .policy a {
        font-size: 10px;
    }
    
    .footer_flex .copy {
        flex: 0.5;
    }
    
    .footer_flex .policy {
        flex: 0.5;
    }
    
    #features .features-graph .btn-with-icon {
        height: 55px;
    }
    
    #features .features-graph .label-top-left {
        top: 27%;
    }
    
    #features .features-graph .label-top {
        top: 27%;
    }
    
    #features .features-graph .label-top-right {
        top: 27%;
    }
    
    #features .features-graph .icon-features-1:after {
        top: 28.4%;
    }
    
    #features .features-graph .icon-features-2:after {
        top: 28.4%;
    }
    
    #features .features-graph .icon-features-3:after {
        top: 28.4%;
    }
    
    #features .features-graph .flash-oval img {
        top: -23px;
    }
    
    #features .features-graph .icon-features-4:after {
        bottom: 33%;
    }
    
    #features .features-graph .icon-features-5:after {
        bottom: 33%;
    }
    
    #features .features-graph .icon-features-6:after {
        bottom: 33%;
    }
    
    #features .features-graph .animation-holder {
        margin-top: 25px;
    }
    
    #features .features-graph .label-bottom-left {
        bottom: 23%;
    }
    
    #features .features-graph .label-bottom {
        bottom: 23%;
    }
    
    #features .features-graph .label-bottom-right {
        bottom: 23%;
    }
    
    #features .features-textblock p {
        line-height: 1.2em;
    }
    
    #features .features-graph .wave {
        top: -37px;
    }
    
    #features .features-graph .wave1 {
        top: -37px;
    }
    
    #features .features-graph .wave2 {
        top: -37px;
    }
    
    #features .features-graph .wave3 {
        top: -37px;
    }
    
    #features .features-graph .wave4 {
        top: -37px;
    }


}

@media only screen and (max-width: 736px) {
    .footer_flex .policy a {
        margin-right: 5px;
    }
    
    #features .features-graph .sq-bt-label {
        font-size: 12px;
    } 
    
    #features .features-textblock p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 712px) {

}


@media only screen and (max-width: 640px) {
    .container {
        margin-right: 16px;
        margin-left: 16px;
    }
    
    #menu {
        height: 90vh;
    }
    
    .main_menu_service .enter {
        margin-left: 10px;
        font-size: 14px;
    }
    
    .main_menu_service .search_img {
        margin-right: 10px;
    }
    
    footer {
        height: 45px;
        line-height: 0;
    }
    
    .footer_flex {
        flex-wrap: wrap;
        text-align: center;
    }
    
    .footer_flex .copy {
        order: 2;
    }
    
    .footer_flex .copy p {
        font-size: 8px;
        margin-top: -2px;
    }
    
    .policy {
        display: none;
    }
    .footer_flex .clock {
        width: 100%;
        flex: none;
        padding-bottom: 4px;
    }
    
    .policy_only_mobile {
        display: block;
        margin-left: 16px;
        margin-right: 16px;
        position: absolute;
        bottom: 11%;
        left: 0;
        right: 0;
        text-align: center;
    }
    
    .policy_only_mobile a {
        text-decoration: none;
        font-size: 9px;
        color: #007DC4;
        margin-right: 5px;
    }
}

@media only screen and (max-width: 376px) {
    .policy_only_mobile a {
        margin-right: 1px;
    }
}

@media only screen and (max-width: 320px) {
    .clock_item p {
        font-size: 11px;
    }
    
    .policy_only_mobile a {
        display: none;
    }
}
