@media only screen and (max-width: 1366px) {
    .main_menu_line {
        margin-left: 50px;
    }
}

@media only screen and (max-width: 1170px) {
    .main_content {
        margin: 0 30px 0 30px;
    }
    
    .main_menu_service .lang {
        display: none;
    }
    
}

@media only screen and (max-width: 1024px) {
    .main_menu_line {
        display: none;
    }
    
    .logo_mobile {
        display: inline-block;
        width: 100px;
        margin-left: 50px;
        margin-top: -7px;
    }
    
    .app_header img {
        margin-right: 30px;
        margin-top: 1px;
    }
    
    .main_menu_service a {
        font-size: 16px;
    }
    
    .main_menu_service {
        margin-top: -11px;
    }
    
    .main_menu_service .lang {
        display: none;
    }
}


@media only screen and (max-width: 850px) {
    .main_content-menu {
        display: none;
    }
    
    .fixed_title {
        padding: 10px 16px 0 16px;
        position: fixed;
        background: #fff;
        left: 0;
        right: 0;
        top: 50px;
        -webkit-box-shadow: 0px 11px 9px -2px rgba(161,161,161,1);
        -moz-box-shadow: 0px 11px 9px -2px rgba(161,161,161,1);
        box-shadow: 0px 11px 9px -2px rgba(161,161,161,1);
    }
    
    .main_content-catalog h2 {
        margin-bottom: 10px;
    }
    
    .catalog_table {
        padding-top: 90px;
    }
    
    
    .footer_flex .policy a {
        font-size: 10px;
    }
    
    .footer_flex .copy {
        flex: 0.5;
    }
    
    .footer_flex .policy {
        flex: 0.5;
    }
    
    .main_content {
        margin: 0 16px;
        margin-bottom: 50px;
        grid-template-columns: 1fr;
    }
    
}

@media only screen and (max-width: 736px) {
    
    body {
        overflow: scroll;
        background: #fff;
        height: auto;
    }
    
    .mobile_device {
        display: block;
    }
    
    footer {
        position: relative;
    }
    
    
    .footer_flex .policy a {
        margin-right: 5px;
    }
}


@media only screen and (max-width: 640px) {
    .container {
        margin-right: 16px;
        margin-left: 16px;
    }
    
    #menu {
        height: 90vh;
    }
    
    .main_menu_service .enter {
        margin-left: 10px;
        font-size: 14px;
    }
    
    .main_menu_service .search_img {
        margin-right: 10px;
    }
    
  
    .mobile_catalog-search {
        display: block;
        width: 100%;
    }
    
    
    .main_content-catalog .catalog_grid-item {
        border-left: none;
        margin: 0 auto;
        
    }
    
    footer {
        height: 45px;
        line-height: 0;
    }
    
    .footer_flex {
        flex-wrap: wrap;
        text-align: center;
    }
    
    .footer_flex .copy {
        order: 2;
        flex: 10;
    }
    
    .footer_flex .copy p {
        font-size: 8px;
        margin-top: -2px;
    }
    
    .policy {
        display: none;
    }
    .footer_flex .clock {
        width: 100%;
        flex: none;
        padding-bottom: 4px;
    }
    
    .policy_only_mobile {
        display: block;
        margin-left: 16px;
        margin-right: 16px;
        position: absolute;
        bottom: 11%;
        left: 0;
        right: 0;
        text-align: center;
    }
    
    .policy_only_mobile a {
        text-decoration: none;
        font-size: 9px;
        color: #007DC4;
        margin-right: 5px;
    }
}


@media only screen and (max-width: 615px) {
    .catalog_table .number {
        width: 2%;
        padding: 0 2px;
        border-top-left-radius: 10px;
    }

    .catalog_table .abbr {
        width: 5%;
        padding: 0 2px;
    }

    .catalog_table .sort {
        width: 25%;
        padding: 0 2px;
    }

    .catalog_table .size {
        width: 25%;
        padding: 0 2px;
    }

    .catalog_table .procent {
        width: 20%;
        padding: 0 2px;
    }

    .catalog_table .foto {
        width: 8%;
        padding: 0 2px;
        border-top-right-radius: 10px;
    }
}

@media only screen and (max-width: 440px) {

    .catalog_table .abbr {
        display: none;
    }
    
    .catalog_table td:nth-child(2) {
        display: none;
    }
    
    .main_content-catalog .catalog_grid-item {
        padding: 0 5px 10px 0;
    }
    
    footer {
        display: none;
    }
    
}

@media only screen and (max-width: 376px) {
    .policy_only_mobile a {
        margin-right: 1px;
    }
}

@media only screen and (max-width: 320px) {
    .clock_item p {
        font-size: 11px;
    }
    
    .policy_only_mobile a {
        display: none;
    }
    
    .main_content-catalog .catalog_grid-item img {
        max-width: 130px;
    }
    
    .main_content-catalog .catalog_grid-item h3 {
        font-size: 15px;
    }
}

@media only screen  and (max-height: 760px) {
    body {
        overflow: auto;
        height: auto;
    }
    
    footer {
        position: relative;
    }
}
